[Unit]
Description=NAS Display application
Documentation=https://atmelino.github.io/NASDisplay/
After=network.target

[Service]
Type=simple
User=nasuser
WorkingDirectory=/home/nasuser/github/NASDisplay/develop/shutDownTest
ExecStart=/usr/bin/python /home/nasuser/github/NASDisplay/python/develop/shutDownTest/shutDownTest.py
Restart=on-failure

[Install]
WantedBy=multi-user.target


