[Unit]
Description=shutdown by python test
Documentation=https://atmelino.github.io/NASDisplay/
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/media/data/github/NASDisplay/python/develop/shutDownTest
ExecStart=/usr/bin/python /media/data/github/NASDisplay/python/develop/shutDownTest/shutDownTest.py
Restart=no

[Install]
WantedBy=multi-user.target


